<!DOCTYPE html>
<html>
    <body>

    <table>
        <tr>
            <th>link</th>
            <th>Client</th>
            <th>Feedback</th>
            <th>Source</th>
            <th>Category</th>
            <th>Sentiments</th>
            <th>Date</th>
        </tr>
        {% for review in reviews %}
            <tr>
                <td><a href={{review.link}}>{{review.link}}</a></td>
                <td>{{review.client}}</td>
                <td>{{review.feedback}}</td>
                <td>{{review.source}}</td>
                <td>{{review.category}}</td>
                <td>{{review.sentiment}}</td>
                <td>{{review.date}}</td>
            </tr>
        {% endfor %}
    </table>
    </body>
</html>
